<h2>Listing tournaments</h2>

<% if !@tournaments.blank? %>
  <ul>
    <% @tournaments.each do |tournament| %>
      <li>
        <% if tournament.users.collect{|u| u.id }.include?(current_user.id) %>
          <%= link_to tournament.name, tournament %>
        <% else %>
          <%= tournament.name %>
        <% end %>

        <% unless tournament.users.collect{|u| u.id }.include?(current_user.id) %>
          <%= link_to 'Join', join_tournament_path(tournament) %>
        <% end %>

        <% if tournament.owner == current_user %>
          <%= link_to 'Edit', edit_tournament_path(tournament) %>
          <%= link_to 'Destroy', tournament, :confirm => 'Are you sure?', :method => :delete %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no tournaments available for you to join.</p>
<% end %>

<%= link_to 'New Tournament', new_tournament_path %>
